<!DOCTYPE html>
<html id="XF" lang="en-US">
  <head>
    <!-- Hypixel image in the top left of the webpage -->
    <link rel="icon" type="image/png" href="https://hypixel.net/favicon-32x32.png" sizes="32x32"/>
    
    <!-- CSS for the main webpage -->
    <link rel="stylesheet"
      href="https://hypixel.net/css.php?css=public%3Anormalize.css%2Cpublic%3Afa.css%2Cpublic%3Acore.less%2Cpublic%3Aapp.less&s=165&l=1&d=1719361796&k=656105aeb76485459f34efbfe640ea31ad985fab"
    />
      
    <!-- Appears to be text-box related CSS w/ stuff about BBCode -->
    <link rel="stylesheet"
      href="https://hypixel.net/css.php?css=public%3Aattachments.less%2Cpublic%3Abb_code.less%2Cpublic%3Aeditor.less%2Cpublic%3Amessage.less%2Cpublic%3Anotices.less%2Cpublic%3Ashare_controls.less%2Cpublic%3Astructured_list.less%2Cpublic%3AsvAttachmentImprovements_editor.less%2Cpublic%3Asv_contentratings.less%2Cpublic%3Asv_pf.less%2Cpublic%3Aextra.less&s=165&l=1&d=1719361796&k=27413e51929f0d07cde1506ab4472cd90f5f0f4f"
    />
      

     <!-- Overwriting some stylizations for the background image -->
     <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        body {
            background-image: url('https://i.imgur.com/8l97jdE.jpeg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
  </head>


  
  <body data-template="thread_view">
    <!-- This is the header at the top, linking to other pages -->
    <nav class="p-nav">
      <div style="text-align: center" >
        <div class="p-nav-scroller hScroller" data-xf-init="h-scroller" data-auto-scroll=".p-navEl.is-selected">
            <div class="hScroller-scroll is-calculated" style="margin-bottom: -49px;">
              <ul class="p-nav-list js-offCanvasNavSource" id="nav-links">
                <li>
                <div class="p-navEl p-navEl-id-games " style="padding-bottom: 2px">
                    <a class="p-navEl-link p-navEl-link-id-games" id="history-link"
                       style="background-image: url('https://hypixel.net/styles/hypixel-v2/images/nav-buttons/button-games.png')"
                      >History</a>
                </div>
                </li>
                <li>
                <div class="p-navEl p-navEl-id-games " style="padding-bottom: 2px">
                    <a class="p-navEl-link p-navEl-link-id-leaderboards" id="votecount-link"
                       style="background-image: url('https://hypixel.net/styles/hypixel-v2/images/nav-buttons/button-games.png')"
                      >Votecount</a>
                </div>
                </li>
                <li>
                <div class="p-navEl p-navEl-id-games " style="padding-bottom: 2px">
                    <a class="p-navEl-link p-navEl-link-id-wiki" id="iso-link"
                       style="background-image: url('https://hypixel.net/styles/hypixel-v2/images/nav-buttons/button-games.png');"
                       >ISO</a>
                </div>
                </li>
              </ul>
            </div>
            <i class="hScroller-action hScroller-action--end" aria-hidden="true"></i>
            <i class="hScroller-action hScroller-action--start" aria-hidden="true"></i>
        </div>
      </div>
    </nav>

    <!-- Not entirely sure what this does. Appears to be a function that allows the base URL modification from the hyperlinks above to work. -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        const currentUrl = window.location.href;
        const baseUrl = currentUrl.substring(0, currentUrl.lastIndexOf('/'));
        const pathSegments = baseUrl.split('/');
        const game = pathSegments[3];

        document.getElementById('history-link').href = `/${game}/votes`;
        document.getElementById('votecount-link').href = `/${game}/votecount`;
        document.getElementById('iso-link').href = `/${game}/iso/Player`;
        });
    </script>
    <div class="p-body-before"></div>
<!-- Anything above this point is the same across all pages. -->




<!-- Anything beyond this point is different page-to-page. --> 
  <div class="p-body">
    <div class="p-body-inner">
      <div class="p-body-main">
        <div class="p-body-content">
          <div class="p-body-pageContent">
            <table
              cellspacing="10"
              cellpadding="5"
              class="leaderboard"
              data-xf-init="leaderboard"
              style="padding: 0px"
            >
              <thead class="tableFloatingHeaderOriginal">
                <tr>
                  <th class="position no-sort" data-sort-method="none"role="columnheader"></th>

                  <th role="columnheader">Voter</th>
                  <th role="columnheader">Target</th>
                  <th role="columnheader">Post Number</th>
                  <th role="columnheader">Phase</th>

                </tr>
              </thead>
              <thead class="tableFloatingHeader" style="display: none">
                <tr>
                  <th class="position no-sort" data-sort-method="none"></th>

                  <th>Voter</th>
                  <th>Target</th>
                  <th>Post Number</th>
                  <th>Phase</th>

                </tr>
              </thead>
              <tbody>
                {% autoescape false %} {{history}} {% endautoescape %}
              </tbody>

                <script>
                  document.addEventListener("DOMContentLoaded", function () {
                    const currentUrl = window.location.href;
                    const baseUrl = currentUrl.substring(0, currentUrl.lastIndexOf("/"),);
                    const game = baseUrl.substring(baseUrl.lastIndexOf("/") + 1,);

                    const retrospectiveVcLinks = document.querySelectorAll(".retrospective-vc-link",);

                    retrospectiveVcLinks.forEach((link) => {
                      const postnum = link.getAttribute("data-postnum");
                      link.href = `/${game}/votecount/${postnum}`;
                    });

                  });
                </script>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-body-after"></div>
  </body>
</html>
